﻿body{
	background: #B5B5B5;
}

table{
	margin: 0px auto;
	width: 50%;
	height: 145px;
}
			
table th{
	text-align: center;
	font-size: 20px;
}
			
table td{
	text-align: center;
	
}

h1{
	text-align: center;
	margin: 0px auto;
	font-size: 40px;
	font-family: courier new;
	color: #D2691E;
}

h2{
	text-align: center;
	margin: 10px auto;
	font-size: 30px;
	font-family: arial;
}

h3{
	text-align: center;
	margin: 10px auto;
	font-size: 30px;
	font-family: arial;
}

h4{
	text-align: center;
	margin: 10px auto;
	font-size: 30px;
	font-family: arial;
}

button{
	width: 300px;
	height: 80px;
	margin: 0px auto;
	text-align: center;
	background: aqua;
	color: black;
	font-size: 25px;
	border-radius: 45%;
	transition: 1s;
}
		
button:hover{
	background: blue;
	color: white;
	transform: scale(1.2);
}
	
select{
	width: 85px;
	height: 20px;
	border-radius: 15px;
	background: black;
	color: white;
	border: solid white 1px;
	text-align: center;
}

#name{
	background: white;
	border-radius: 20px;
	width: 170px;
	height: 40px;
	text-align: center;
}

#surname{
	background: white;
	border-radius: 20px;
	width: 170px;
	height: 40px;
	text-align: center;
}

#patronymic{
    background: white;
	border-radius: 20px;
	width: 170px;
	height: 40px;
	text-align: center;
}

#phone{
	background: white;
	border-radius: 20px;
	width: 170px;
	height: 40px;
	text-align: center;
}

#mail{
	background: white;
	border-radius: 20px;
	width: 170px;
	height: 40px;
	text-align: center;
}