#field{
	margin: 20px auto;
	width: 500px;
	height: 500px;
	border: 1px groove black;
	background-color: #00FF00;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

#ball{
	position: absolute;
	left: 0;
	top: 0;
	width: 80px;
	height: 80px;
	-webkit-transition: all 1.2s;
	-moz-transition: all 1.2s;
	-o-transition: all 1.2s;
	-ms-transition: all 1.2s;
	transition: all 1.2s;
}

h1{
	text-align: center;
}