#main{
	width: 200px;
}
		
.button{
	display: block;
	text-decoration: none;
	text-align: center;
	background: black;
	color: white;
	font-size: 43px;
	padding: 50px 0;
	border-radius: 50%;
	transition: 1s;
}
		
.button:hover{
		background: coral;
		color: black;
		transform: scale(1.2) rotate(-360deg);
	}
		
#main1{
	width: 200px;
}
		
.button1{
	display: block;
	text-decoration: none;
	text-align: center;
	background: aqua;
	color: black;
	font-size: 43px;
	padding: 50px 0;
	border-radius: 50%;
	transition: 1s;
}
		
.button1:hover{
	background: blue;
	color: white;
	transform: scale(1.2);
}
		
#main2{
	width: 200px;
}
		
.button2{
	display: block;
	text-decoration: none;
	text-align: center;
	background: Peru;
	color: white;
	font-size: 43px;
	padding: 50px 0;
	border-radius: 50%;
	transition: 1s;
}
		
.button2:hover{
	background: crimson;
	color:lime;
	transform: scale(-1.2) rotate(540deg);
}
		
#main3{
	width: 200px;
}
		
.button3{
	display: block;
	text-decoration: none;
	text-align: center;
	background: green;
	color: white;
	font-size: 43px;
	padding: 50px 0;
	border-radius: 50%;
	transition: 1s;
}
		
.button3:hover{
	background: maroon;
	color: yellow;
	transform: scale(1.2) rotate(360deg);
}