﻿body{
	background: black;
}

table{
	border: 15px solid blue;
	padding: 15px;
	margin: 0 auto;
}
		
table th{
	background: LightGray;
	text-align: center;
	font-size: 110px;
	font-family: courier new ;
}
		
table td{
	background: Tan;
	text-align: center;
	font-size: 25px;
	font-family: comic;
}

#TableRemainingTime{
	border: 15px solid blue;
	width: 70%;
	margin: 0 auto;
	padding: 15px;
}

select{
	padding: 4px 0px 4px 10px;
	background: grey;
	color: white;
}

#theMessage{
	font-size: 36px;
	text-align: center;
	color: yellow;
}

#theAnimation{
	text-align: center;
}	